<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form #artForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="keyword"
        ngModel
        required
        minlength="1"
        #keyword="ngModel"
        placeholder="Keyword"
      >
      <mat-error *ngIf="keyword.invalid">Please enter keywords.</mat-error>
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onGenerateArt(artForm)"
      >Generate Art</button>
    </div>
    <div>
      <p *ngIf="output" >{{output.keyword}}</p>
    </div>
    <div>
      <img *ngIf="output" [ngSrc]="output.imageUrl" width="300" height="300">
    </div>
    <div>
      <audio *ngIf="output" controls>
        <source [src]="output.audioUrl" type="audio/wav">
      </audio>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onAddArt()"
      *ngIf="output"
    >Save</button>
  </form>
  <div>
    <p *ngIf="isLoading && !output">Generating...</p>
    <p *ngIf= "output && isLoading">Saving...</p>
  </div>
</mat-card>


