<mat-accordion multi="true" *ngIf="arts.length > 0">
  <mat-expansion-panel *ngFor="let art of arts">
    <mat-expansion-panel-header>
      {{ art.keyword }}
    </mat-expansion-panel-header>
    <img [ngSrc]="art.imagePath" alt="art.keyword" width="300" height="300">
    <audio controls>
      <source [src]="art.audioPath" type="audio/wav">
    </audio>
    <mat-action-row>
      <button mat-button color="warn" (click)="onDelete(art.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="arts.length<=0">No arts added yet!</p>
